################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PiczEngine/v14/.suo
/PiczEngine/.vs/PiczEngine/v14/.suo
/PiczEngine/obj/Debug
/.vs/config
/packages
/Picz/bin
/Picz/obj/Debug
/PiczEngine/bin/Debug
/Picz/obj/Release
/PiczEngine/bin/Release
/PiczEngine/obj/Release
