@{
    ViewBag.Title = "Home Page";
}

<!--
    You can use Picz wherever you place an image tag.
    
    The element before Picz was:

        <img src="~/Content/landscape-mountains-nature-lake.jpeg" alt="Mountain Reflection" />

    Picz is introuduced using the below code:
-->

@Html.Picz("~/Content/landscape-mountains-nature-lake.jpeg", "100vw", new { alt = "Mountain Reflection" })

<!--
    Explanation:

    The first argument is simply the URL that you had in the src attribute already:

        "~/Content/landscape-mountains-nature-lake.jpeg"
    
    The second argument indicates to browsers what portion of the view the image will take up,
    this allows the browser to choose the best image (i.e. if you will take up 50vw, and the view is
    600px, it may choose a 300px image size).

        "100vw"

    The third argument allows you to set additional HTML attributes, it is recommended that you
    set the alt tag as a minimum.

        new { alt = "Mountain Reflection" }
-->

<!--
    You can use Picz on background images too.

    The element before Picz was:

    <div id="picz-001" style="background-image: url(/Content/landscape-mountains-nature-lake.jpeg); background-size: cover; width: 50vw; height: 50vw; margin: 0 auto;">
        &nbsp;
    </div>

    Picz is introuduced using the below code:
-->

@Html.PiczBackground("/Content/landscape-mountains-nature-lake.jpeg", "picz-001")
<div id="picz-001" style="background-size: cover; width: 50vw; height: 50vw; margin: 0 auto;">
    &nbsp;
</div>

<!--
    Explanation:
    
    The PiczBackground call is placed before the element in question, allowing you to keep full control of the element.
    
    The first argument is simply the URL that you had in the style attribute already:

        /Content/landscape-mountains-nature-lake.jpeg

    The second argument is the HTML id attribute of the element to target. This must be unique within the document.

        "picz-001"
-->